@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91; 
    
  }
}




@layer utilities {
  
  }

