@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91; 
    
  }
}




@layer utilities {
  .pause{
    animation-play-state: paused;
  }
  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }

}
@keyframes move{
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100px, 100px);
  }
 
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sanskrit-logo {
  animation: reveal 5s ease forwards;
}




/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


   */
